html{
  font-family: 'Roboto', sans-serif;
  font-size: thin;
}
.background-image{
  background-image:url('../images/pl-letter-logo/websiteBg-holga-white.jpg');
  background-attachment: fixed;
}
.background-profile{
  margin-top: 10%;
  margin-bottom: 2%;
  border: 12px solid white;
  background-image:url('../images/pl-letter-logo/websiteBg-stripes-white.jpg');
  background-attachment: fixed;
}
/* miriam link */
.by-miriam{
  color:darkgray;
}


/* Basic styling for pages */
/* footer styles */
.main-footer{
  background: lightgray;
}
/* privacy policy styles */
.privacy-policy{
  margin: 10%;
  padding:10%;
}
/* main header navigation styles */
.header-nav{
  background: white;
  border: 2px solid white;
}

.footer-social-links{
  background-color: white;

}

.footer-copyright{
  background: gray;
  margin-top: 50px;
}

/* course name styles */
.course-name{
  font-weight: bold;
}
.course-note{
  font-weight: bold;
  font-size: 10px;
}

.course-image{
  max-width: 250px;
  max-height: 250px;
  text-align: center;
}
.course-name{
  font-weight: bold;
}
.course-note{
  font-style: italic;
}
.course-page-heading{
  text-align: center;
}
.course-page-summary{
  padding-right: 10%;
  padding-left: 10%;
}
/* product card styling */
.products-name{
  font-weight: bold;
}
.products-cards{
  border: 4px solid gray;
  margin: 10px;
  padding: 20px;
  text-align: center;
  background: white;
}
.product-summary-header{
  text-align: center;
}
.product-summary-descripton{
  padding-left: 10%;
  padding-right: 10%;
}

.product-image{
  max-width: 250px;
  max-height: 250px;
  text-align: center;
}

/* item-list - user details page */
.user-details{
  padding: 15px;
  margin: 15px;
}
.user-details-btns{
  border: 2px solid pink;
  padding: 15px;
  margin: 15px;
}

.user-details-header{
  border: 2px solid green;
  padding: 15px;
  margin: 15px;
}

/* image stying for products */
.products-image{
  max-width: 200px;
  max-height: 200px;
}
/* product cards styling */
.product-cards{
  text-align: center;
  background: white;
  border: 4px solid gray;
}

/* gray border when user hovers over product card */
.product-cards:hover{
  border: 6px solid gray ;

}
.saved-product-card{
  border: 2px solid black;
}

.saved-user-product-cards{
  width: 500px;
  height: 500px;
  border: 4px solid gray;
}

/* social icons styling */
.insta-png{
  max-height: 32px ;
  max-width: 32px ;
}
.insta-png:hover{
  max-height: 40px ;
  max-width: 40px ;
}
/* social icons styling */
.facebook-png{
  max-height: 32px;
  max-width: 32px;
}
.facebook-png:hover{
  max-height: 40px ;
  max-width: 40px ;
}
/* social icons styling */
.yelp-png{
  max-width: 32px;
  max-height: 32px;
}
.yelp-png:hover{
  max-width: 40px;
  max-height: 40px;
}
/* social icons styling */
.mail-png{
  max-width: 50px;
  max-height: 50px;
}
.mail-png:hover{
  max-width: 60px;
  max-height: 60px;
}
/* social icons styling */
.twitter-png{
  max-width: 32px;
  max-height: 32px;
}
.twitter-png:hover{
  max-width: 40px;
  max-height: 40px;
}
/* social icons styling */
.google-png{
  max-width: 32px;
  max-height: 32px;
}
.google-png:hover{
  max-width: 40px;
  max-height: 40px;
}
/* social icons styling */
.social-icons{
  list-style-type: none;
  padding-right: 20px;
  padding-left: 20px;
}
/* save btn in online-store aka products */
.product-save-btn{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* pearl lash logo styling */
.pearl-lash-logo {
  max-height: 650px ;
  max-width: 650px ;
  text-align: center;
}

/* all/most links */
.links{
  padding: 10px;
  color:black;
  font-weight: bold;
  list-style-type: none; /*for user profile*/
}
.links:hover{
  color:black;
  font-size:16px;
  text-decoration: underline;
}

.user-background{
  text-align: center;
  max-height: 500px;
  max-width: 500px;
}

/* pearl lash logo in navbar */
.image-div{
  text-align: center;
}
/* links in header */
.header-links{
  list-style-type: none;
  padding: 10px;
}

/* links in menu */
.menu-links{
  list-style-type: none;
}

/* footer links */
.footer-links{
  list-style-type: none;
  color: white;
}

/* product cards */
.product-cards{
  border: 4px solid grey;
  margin: 10px;
  padding: 10px;
}

/* save btn in courses page */
.save-btn{
  background: #9068be;
  color: white;
  border: 2px solid #9068be;
}
.save-btn:hover{
  background: gray;
  border: 2px solid gray;
}
/*login page buttons, added to all btns*/
.login-btns{
  background: #9068be;
  color: white;
  border: 2px solid #9068be;
}

.user-link{
  color: black;
  font-size: 18px;
}
.user-link:hover{
  font-size: 20px;
}
/* user profile styles */
.user-name{
  /*border: 2px solid black;*/
  text-align: center;
}
.user-background{
  max-height: 400px;
  max-height: 600px;
}

.welcome-user{
  text-align: center;
}

/* about page */
.about-image{
  max-height: 600px;
  max-width: 600px;
}

.about-logo{
  text-align: center;
  background: white;
}

.k-profile-image{
  text-align: center;
  max-width: 450px;
  max-height: 450px;
}

.about-name{
  text-align: center;

}

.k-profile-image{
  border: 12px solid lightgrey;
  border-radius: 50%;
}
.k-profile-image:hover{
  border: 15px solid lightgrey;
}

.about-k-image{
  display: block;
  padding-left: 35%;
}

.about-container{
  padding: 10% 10% 2% 10%;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 22px;
}


/* home page */
.home-logo{
  text-align: center;
  background: white;
}
.home-image{
  max-width: 650px;
  max-height: 650px;
}
.logo-container{
  background: white;
  text-align: center;
}

.footer-label{
  text-decoration: underline;
  text-align:center;
}

.carousel-img{
  text-align: center;
}
.carousel-inner{
  border: 20px solid white;
}

.carousel-home{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  max-width: 650px;
}
.promo-logo{
  text-align: center;
  margin: 5%;
}
.promo-logo-image{
  max-width: 500px;
  max-height: 800px;
  border: 12px solid lightgray;
  margin-bottom: 2%;
}
.promo-logo-image:hover{
  border: 16px solid lightgray;
}

/* user proife */
.welcome-user{
  background: white;
  border: 5px solid lightgrey;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}






