<!-- Calendar with trainning dates will go here -->
<h1>Calendar</h1>
<div ng-controller="CalendarCtrl"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-xs-1.5"><p>MON</p></div>
      <div class="col-xs-1.5"><p>TUES</p></div>
      <div class="col-xs-1.5"><p>WEDS</p></div>
      <div class="col-xs-1.5"><p>THURS</p></div>
      <div class="col-xs-1.5"><p>FRI</p></div>
      <div class="col-xs-1.5"><p>SAT</p></div>
      <div class="col-xs-1.5"><p>SUN</p></div>
      
    </div>
  </div>