<!-- Contact Us form -->
<div ng-controller="ContactUsCtrl"></div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
    <h4>Send us a message:</h4>
      <form class="form-horizontal">
        <fieldset disabled="disabled">
            <div class="form-group">
              <label for="inputName" class="control-label col-xs-2">Name</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
              </div>  
              <div class="form-group">  
                <label for="inputEmail" class="control-label col-xs-2">Email</label>
                  <div class="col-xs-6">
                      <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
              </div>  
              <div class="form-group">  
                <label for="inputMessage" class="control-label col-xs-2">Message</label>
                  <div class="col-xs-6">
                      <input type="text" class="form-control" id="inputMessage" placeholder="Message">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-offset-2 col-xs-6">
                      <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                </div> 
        </fieldset>
      </form>             
    </div>
<!-- Social Icons -->    
    <div class="col-md-6">
<!--       <div class="contact-details">
          <ul class="social-icons">
            <div class="col-md-2">
              <li><a href="mailto:info@pearllashextensins.com"><img src="images/Mail.png" class="mail-png"></a></li>
            </div>
            <div class="col-md-2">  
              <li><a href="https://www.facebook.com"><img src="images/Facebook.png" class="facebook-png"></a></li>
            </div>
            <div class="col-md-2">  
              <li><a href="https://instagram.com"><img src="images/Instagram.png" class="insta-png"></a></li>
            </div>
            <div class="col-md-2">  
              <li><a href="https://twitter.com"><img src="images/Twitter.png" class="twitter-png"></a></li>
            </div>
            <div class="col-md-2">  
              <li><a href="https://google.com"><img src="images/Google.png" class="google-png"></a></li>
            </div>
            <div class="col-md-2">  
              <li><a href="https://yelp.com"><img src="images/Yelp.png" class="yelp-png"></a></li>
            </div>
          </ul>  
        </div> -->
      </div>
    </div>
  </div>
</div>





