<!-- Contact Us form -->
<div ng-controller="ContactUsCtrl"></div>
<br>
<br>
<div class="row">
<br>
<br>
<br>
  <div class="col-md-12">
    <br>
    <br>
    <div class="col-md-6">
    <h1>We would love to hear from you...</h1>
    </div>
    <div class="col-md-4">  
      <ul class="social-icons">
        <li type="submit" class="links"><a href="mailto:info@pearllashextensions.com?Subject=Hello%20again" target="_top"><img src="images/socialLinks/Mail.png" class="mail-png"></a>
        </li>
      </ul> 
     </div> 
     <br>
     <br>   
    </div>
  </div>
</div> 
      