<!-- Courses Page -->
  <div ng-controller="CoursesCtrl">
    <div class="row">
    <br>
    <br>
      <div class="col-md-12">
      <br>
      <br> 
      <br>
      <br>
<!-- Main courses page summary -->
          <div ng-repeat="summary in summary">
            <h3 class="course-page-heading"><b>{{summary.name}}</b></h3>
            <h4 class="course-page-summary">{{summary.description}}</h4>
          </div>
      </div> 
    </div> 
    <!-- Course Cards -->
    <div class="row">
      <div class="col-md-12">
      <br>
      <br>
      <!-- <img class="course-image" src="{{course.image}}"> -->
        <uib-accordion close-others="oneAtATime">
          <div uib-accordion-group class="panel-default col-md-7" heading="{{course.name}}" ng-repeat="course in courses">
          <p><img class="course-image" src="{{course.image}}"></p>
          <p><b>{{course.description}}</b></p>
          <br>
          <p class="course-note">{{course.note}}</p>
            <br>
            <ul class="list-inline add-to-cal-btn">
                <li type="submit" class="btn btn-primary save-btn btn-xs" ng-href="" ng-click=""><span class="glyphicon glyphicon-shopping-cart"></span><a class="links">Cart</a></li>
                <li type="submit" class="btn btn-primary save-btn btn-xs" ng-click="saveCourse(course)"><span class="glyphicon glyphicon-pushpin"></span><a class="links">Save</a></li>
                <li><span class="glyphicon glyphicon-flag"></span><a class="links" ng-href="#!/return-policy">Return Policy</a></li>
            </ul>         
          </div>
        </uib-accordion>
      </div>
    </div>
    <br>
    <br>
  </div> 



