<!-- Main footer with nav, social links starts --> 
<footer class="container-fluid">
  <div class="row">
    <div class="col-md-12 main-footer">
      <div class="col-md-4">
      <label>
        <h5 class="footer-label">About Us:</h5>
          <p>At Pearl Lash, our goal is to take your individual talent and abilities to the next level, to maximize your knowledge base and help you become a world class beauty industry professional and lash artist. We are here to provide you with a high quality individualized training that is very diverse and focused on continuous success.</p>
          </label>
      </div>
      <!-- Main Menu -->
      <div class="col-md-4">
      <label>
        <h5 class="footer-label">Explore:</h5>
          <ul class="menu-links main-nav">
            <li><span class="glyphicon glyphicon-home"></span><a class="links" ng-href="#!/home-page">Home</a></li>  
           <li><span class="glyphicon glyphicon-shopping-cart"></span><a class="links" ng-href="#!/online-store">Online Store</a></li>
            <li><span class="glyphicon glyphicon-education"></span><a class="links" ng-href="#!/courses">Education</a></li>
            <li><span class="glyphicon glyphicon-question-sign"></span><a class="links" ng-href="#!/about-us">About Us</a></li>
            <li><span class="glyphicon glyphicon-envelope"></span><a class="links" ng-href="#!/contact-us">Contact Us</a></li> 
            <li><span class="glyphicon glyphicon-flag"></span><a class="links" ng-href="#!/privacy-policy">Privacy Policy</a></li> 
          </ul>
          </label>
      </div>
      <!-- Social Links -->
      <div class="col-md-4">
      <label>
        <h5 class="footer-label">Be Social:</h5>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/pearllashextensions/"><img src="images/socialLinks/Facebook.png" class="facebook-png"></a>
            </li>
            <li><a href="https://www.instagram.com/pearl_lash_extensions/?hl=en"><img src="images/socialLinks/Instagram.png" class="insta-png"></a>
            </li>
            <li>
            <a href="https://twitter.com/Pearl_Lash"><img src="images/socialLinks/Twitter.png" class="twitter-png"></a>
            </li>
            <li><a href="https://google.com"><img src="images/socialLinks/Google.png" class="google-png"></a>
            </li>
            <li>
            <a href="https://yelp.com"><img src="images/socialLinks/Yelp.png" class="yelp-png"></a>
            </li>
          </ul>
          </label>
      </div>  
    </div>
  </div>
<!-- Copy Rights -->    
    <div  class="row">
      <div class="col-md-12 footer-copyright">
      <br>
      <br>
            <p class="copy-right" style="text-align: center"><b>&copy; 2017 Pearl Eyelash Extensions</b></p>
            <p>Made with Love by: <a class="brown-text text-lighten-3 by-miriam" href="https://github.com/mrozenbaum">Miriam Rozenbaum</a></p>
      </div>
      </div>
</footer>