<!-- Main footer with nav, social links starts --> 
<footer class="main-footer">
    <div class="row">
        <div class="col-md-2">
        <!-- white space -->
        </div>

<!-- Social Links/ Icons -->      
    <div class="row">
      <div class="col-md-12 footer-social-links">
          <br>
          <div class="col-md-2">
          <!-- Whitespace -->
          </div>

          <ul class="social-icons">
            <div class="col-md-2">
              <li>
                <a href="https://www.facebook.com/pearllashextensions/"><img src="images/socialLinks/Facebook.png" class="facebook-png"></a>
              </li>
            </div>
            <div class="col-md-2">
              <li>
                <a href="https://www.instagram.com/pearl_lash_extensions/?hl=en"><img src="images/socialLinks/Instagram.png" class="insta-png"></a>
              </li>
            </div>
            <div class="col-md-2">
              <li>
                <a href="https://twitter.com/Pearl_Lash"><img src="images/socialLinks/Twitter.png" class="twitter-png"></a>
              </li>
            </div>  
            <div class="col-md-2">
              <li>
                <a href="https://google.com"><img src="images/socialLinks/Google.png" class="google-png"></a>
              </li>
            </div>
            <div class="col-md-2">  
              <li>
                <a href="https://yelp.com"><img src="images/socialLinks/Yelp.png" class="yelp-png"></a>
              </li>
            </div>  
          </ul>

           <div class="col-md-1">
           <!-- Whitespace -->
          </div>
          <br>
          <br>  
      </div>
    </div>
<!-- Copy Rights -->    
    <div  class="row">
      <div class="col-md-12 footer-copyright">
          <br>
          <br> 
            <p class="copy-right" style="text-align: center"><b>&copy; 2017 Pearl Eyelash Extensions</b></p>
          <br>
      </div>
    </div>
</footer>