 <!-- edit user profile page --> 
 <div class="row">
 <div class="container-fluid background-profile">
  <div class="col-md-12">
  <br>
    <div class="col-md-9">
    <br>
    <br>
      <h1>{{title}}</h1>
          <form>
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" placeholder="First Name..." ng-model="newTask.firstName" />
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" placeholder="Last Name..." ng-model="newTask.lastName" />
            </div>
            <div class="form-group">
              <label>Birthday</label>
              <input type="text" class="form-control" placeholder="April 8..." ng-model="newTask.birthday" />
            </div>
            <div class="form-group">
              <label>Profession</label>
              <input type="text" class="form-control" placeholder="Salon Owner..." ng-model="newTask.profession" />
            </div>
            <div class="form-group">
              <label>Education</label>
              <input type="text" class="form-control" placeholder="Nashville Software School..." ng-model="newTask.education" />
            </div>
            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control" placeholder="Nashville,TN" ng-model="newTask.address" />
            </div>
            <div class="form-group">
              <label>Zip Code</label>
              <input type="text" class="form-control" placeholder="12345" ng-model="newTask.zipCode" />
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" placeholder="1234567890..." ng-model="newTask.phone" />
            </div>
            <!-- Update Button -->
            <li class="btn btn-primary save-btn btn-xs" ng-click="addNewItem()"><span class="glyphicon glyphicon-pencil"></span><a class="links">{{btnText}}</a></li>  
          </form>
          <br>
          <br>
        </div>
      </div>  
</div>
</div>








