<!-- Saved profile details page -->  
<div ng-controller="ItemListCtrl">
<div class="container-fluid background-profile">
  <div class="row">
    <br>
    <br>
    <div class="col-md-12"> 
      <br> 
      <div class="col-md-9">
      <br>
        <h1>Profile Details...</h1>
        <br>
          <div class="user-details">
            <div ng-repeat="item in items">
              <div class=""><a ng-href="#!/items/{{item.id}}">{{item.task}}</a></div>
            
                <h4><b>First Name:</b></h4><p><b>{{item.firstName}}</b></p>
                <br>
                <h4><b>Last Name:</b></h4><p><b>{{item.lastName}}</b></p>
                <br>
                <h4><b>Birthday:</b></h4><p><b>{{item.birthday}}</b></p>
                <br>
                <h4><b>Profession:</b></h4><p><b>{{item.profession}}</b></p>
                <br>
                <h4><b>Education:</b></h4><p><b>{{item.education}}</b></p>
                <br>
                <h4><b>Zipcode:</b></h4><p><b>{{item.zipCode}}</b></p>
                <br>
                <h4><b>Address:</b></h4><p><b>{{item.address}}</b></p>
                <br>
                <h4><b>Phone:</b></h4><p><b>{{item.phone}}</b></p>
                <br>
              <ul>
                <li class="btn btn-primary save-btn btn-xs" ng-click="itemDelete(item.id)"><span class="glyphicon glyphicon-remove"></span><a class="links">Delete</a></li>
                <br>
                <br>
                <li class="btn btn-primary save-btn btn-xs"><span class="glyphicon glyphicon-pencil"></span><a class="links" ng-href="#!/items/edit">Edit</a></li>
              </ul>
          </div>  
        </div>
      </div>
    </div>
  </div>  
 </div> 
 </div>