<!-- Login with Google -->
<div class="container-fluid">
<br>
<br>
<div class="row">
  <br>
  <br>
  <div class="col-md-12">
  <br>
  <br>
  <div style="text-align: center" class="col-md-5">
    <div class="" id="googleLogin">
      <h4>Login with Google</h4>
        <li class="btn btn-info login-btns save-btn" ng-click="loginGoogle()"><span class="glyphicon glyphicon-user"></span>Login</li>
  </div>
  </div>
<!-- Login with email and password -->
    <div class="col-md-5 text-right">
      <section class="auth-form">
        <h4>Login/Register with Email</h4>
        <div>
          Email: <input type="text" autofocus="true"  ng-model="account.email">
        </div>
        <div>
          Password: <input type="password" ng-model="account.password">
        </div>
        <div>
          <li class="btn btn-info login-btns save-btn" ng-click="login()"><span class="glyphicon glyphicon-user"></span>Login</li>

          <li class="btn btn-default login-btns save-btn" ng-click="register()"><span class="glyphicon glyphicon-heart"></span>Register</li>
        </div>
        <div class="checkbox">
            <label><input type="checkbox">Remember me</label>
        </div>
      </section>
    </div>
  </div> 
  <br>
  <br>
</div>
</div>


<!-- <li class="list-inline col-md-.5"><span class="glyphicon glyphicon-shopping-cart"></span><a class="links" ng-href="#!/online-store">Online Store</a></li> -->





<!-- form example -->

<!-- <form>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form> -->