<div ng-controller="NavCtrl"></div>
  <div class="container-fluid">
    <header class="main-header">
      <div class="row">
        <div class="col-md-12 nav-bar-top header-nav navbar-fixed-top">
        <br>
          <div class="social-icons header-links">
<!-- header menu bar -->               
            <ul class="header-links list-inline navbar-left">
                <li class="list-inline col-md-.5"><span class="glyphicon glyphicon-shopping-cart"></span><a class="links" ng-href="#!/online-store">Online Store</a></li>
                <li class="list-inline col-md-.5"><span class="glyphicon glyphicon-home"></span><a class="links" ng-href="#!/home-page">Home</a></li>
                <li ng-show="!isLoggedIn" class="list-inline col-md-.5"><span class="glyphicon glyphicon-user"></span><a class="links"  ng-href="#!/login">Login</a></li>
                <li class="list-inline col-md-.5"><span class="glyphicon glyphicon-heart"></span><a class="links" ng-href="#!/user-profile"> Profile</a></li>
                <li ng-show="isLoggedIn" class="list-inline col-md-.5"><a class="links" ng-href="#!/home-page">Signout</a></li>
            </ul>    
<!-- Social Icons -->  
              <ul class="header-links list-inline navbar-right"> 

                <li class="list-inline col-md-.5"><a href="https://www.facebook.com/pearllashextensions/"><img src="images/socialLinks/Facebook.png" class="facebook-png"></a></li>
              
                <li class="list-inline col-md-.5"><a href="https://www.instagram.com/pearl_lash_extensions/?hl=en"><img src="images/socialLinks/Instagram.png" class="insta-png"></a></li>
              
                <li class="list-inline col-md-.5"><a href="https://twitter.com/Pearl_Lash"><img src="images/socialLinks/Twitter.png" class="twitter-png"></a></li>
              
                <li class="list-inline col-md-.5"><a href="https://google.com"><img src="images/socialLinks/Google.png" class="google-png"></a></li>
               
                <li class="list-inline col-md-.5"><a href="https://yelp.com"><img src="images/socialLinks/Yelp.png" class="yelp-png"></a></li>
              </ul>
          </div>
          <br>
          <br>
        </div>
      </div>
  </header> 
</div> 