<!-- Products Page -->
<div ng-controller="ProductsCtrl">
  <div class="row">
  <br>
    <div class="col-md-12">
      <br>
      <br>
      <br>
<!-- Main products page summary -->      
        <div ng-repeat="products in products">
          <br>
          <br>
          <h1 class="product-summary-header">{{products.name}}</h1>
          <h4 class="product-summary-descripton">{{products.description}}</h4>
          <br>
        </div>
    </div>
  </div>  
<!-- Product Cards -->
  <div class="row">
    <div class="col-md-12">
    <br>
    <br>
      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default col-md-7" heading="{{product.name}}" ng-repeat="product in productlist">
          <p><img class="product-image" src="{{product.image}}"></p>
          <p><b>{{product.description}}</b></p>
          <p>{{product.price}}</p>
          <br>
          <ul class="list-inline add-to-cal-btn">
              <li type="submit" class="btn btn-primary save-btn btn-xs" ng-href="" ng-click=""><span class="glyphicon glyphicon-shopping-cart"></span><a class="links">Cart</a></li>
              <li type="submit" class="btn btn-primary save-btn btn-xs" ng-click="saveProduct(product)"><span class="glyphicon glyphicon-pushpin"></span><a class="links">Save</a></li>
              <li><span class="glyphicon glyphicon-flag"></span><a class="links" ng-href="#!/return-policy">Return Policy</a></li>
          </ul>         
        </div>
      </uib-accordion>  
    </div> 
  </div> 
  <br>
  <br>
</div>




