<h1>User profile page</h1>
<div ng-controller="UserCtrl"></div>

  <div class="row user-profile">
    <div class="row">
      <div class="col-md-12 user-background">
    <!-- <img class="user-background" src="../images/pl-letter-logo/websiteBg-holga-white.jpg" alt="pearl-lash-logo"> -->
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
      <div class="col-md-9 user-profile-card">
        <br>
        <div class="user-name">
          <h2>// USER NAME //</h2>
          
        </div>
        <br>
        <div class="user-image">
          <h5>USER IMAGE GOES HERE</h5>
          
        </div>
        <br>
        <!-- USER INFO -->
        <div class="user-info">
          <div class="desc">PROFESSION GOES HERE</div>
            <div class="desc">Tech geek</div>
        </div>
        <br>
      </div>
  
        <!-- USER LINKS -->  
        <div class="col-md-3 user-links">
          <ul>
          <br>
            <li><a class="links" ng-href="#!/items/new">Edit Profile</a></li>
            <br>
            <li><a class="links" ng-href="#!/items/list">Profile Details</a></li>
            <br>
            <li><a class="links" ng-href="#!/user-saved-product">Saved Products</a></li>
            <br>
            <li><a class="links" ng-href="#!/user-saved-course">Saved Courses</a></li>
            <br>
            <li><a class="links" ng-href="#!/home-page">Logout</a></li>
            <br>
          </ul>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
      </div>
    </div>

    <!--#!/items/list -->
      <!-- TODO: -->
      <!-- View 'profile information'- itemlist -->
      <!-- Things brought -->
      <!-- User photo -->



      <!-- <div ng-include="'partials/item-list.html'"></div> -->
      <!-- <div ng-include="'partials/item-form.html'"></div> -->
      <!-- <div ng-include="'partials/item-details.html'"></div> -->
